


body, html {
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 3px;
    background-color: white;
}

#header {
    width: 100%;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: start;
    margin-top: 10px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 50px;
}

#fname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    width: 55%;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

.rechercher {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 15px;
    width: 100%
}

#recherche {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
}

#recherche-loupe {
    display: none;
}


/*partie filtre*/

.filtre {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
    width: 50%;
}

#info {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    width: 100%;
}

.fa-info {
    height: 27px;
    margin-top: 0px;
}

.main {
    width: 100%;
}




/*partie navigation*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0 2% 0;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0065FC;
}

    .menu a {
        text-decoration: none;
        color: black;
        padding-top: 20px;
        width: 120px;
    }

        .menu a:hover {
            border-top: 2px solid #0065FC;
            font-weight: 500;
            color: #0065FC;
            padding-top: 18px;
        }

.liens-container {
    display: flex;
    flex-direction: row;
    margin-left: 29px;
    gap: 30px;
}

    .liens-container a {
        text-decoration: none;
        color: black;
        margin-left: 5px;
    }

#lien-filtre {
    display: flex;
    justify-content: center;
    margin-right: 2px;
    width: 200px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #000000;
    margin-right: 12px;
    width: 5%;
    margin-left: 10px;
}

.lien1, .lien2, .lien3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px 20px 20px 20px;
    color: blue;
    height: 48px;
    border: 1px solid #D9D9D9;
    padding-left: 21px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-right: 10px;
    width:30%;
}

.lien4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #E6E6E6;
    border-radius: 20px 20px 20px 20px;
    color: blue;
    width: auto;
    height: 48px;
    border: 1px solid #D9D9D9;
    padding-left: 21px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    width: 182px;
}

    .lien1:hover, .lien2:hover, .lien3:hover, .lien4:hover {
        background-color: #DEEBFF;
    }

/*partie formulaire*/

.form {
    display: flex;
    flex-direction: row;
    width: 440px;
    height: 50px;
}

i.fa-solid.fa-location-dot.fa-lg {
    font-weight: 900;
    width: 50px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    border: solid 1px #f2f2f2;
    padding-top: 22px;
}

input {
    border: none;
    outline: none;
}

.titre,
.titre-activites {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 36px;
    margin-bottom: 7px;
    margin-left: 18px;
}

.star-populaire {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    padding-bottom: 10px;
}

.star-populaire-eau {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    padding-bottom: 10px;
}

.fa-chart-line {
    padding-right: 20px;
    margin-top: 30px;
}

.euro {
    font-weight: bold;
    color: black;
}

.hebergement-jaune .card-hebergement .card-container .nom {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 18px 5px 2px;
}

.hebergement-jaune .card-hebergement .card-container .prix {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0px 18px 5px 2px;
}

.hebergement-jaune .card-hebergement .card-container .star-logement {
    display: flex;
    flex-direction: row;
    margin: 8px 18px 0px 2px;
}

.populaire-jaune .card-populaire .card-container .nom {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 13px 18px 5px 2px;
    color: black;
}

.populaire-jaune .card-populaire .card-container .prix {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0px 18px 37px 2px;
    color: black;
}

.populaire-jaune .card-populaire .card-container .star-populaire {
    display: flex;
    flex-direction: row;
    margin: 28px 18px 0px 2px;
}

.populaire-jaune .card-populaire .card-container .star-populaire-blanc {
    display: flex;
    flex-direction: row;
    margin: 26px 18px 0px 2px;
}

.nom-footer {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.activite .images-activite .card-activite .nom {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 5px 12px;
    color: black;
}

.main a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
}


/*partie cards*/

.hebergement-vert {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    gap: 35px;
    justify-content: space-between;
}

.hebergement-bleu {
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 650px;
    border-radius: 15px;
    background: #F2F2F2;
    margin-top: 10px;
}

.hebergement-rouge {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    width: 95%;
    gap: 20px;
}

.hebergement-jaune {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.icone-populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.populaire-rouge {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 32%;
    height: 650px;
    background: #F2F2F2;
}

.populaire-jaune {
    display: flex;
    flex-direction: column;
    width: 94%;
}

#next {
    margin-top: 0px;
}

    #next a {
        text-decoration: none;
        color: black;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-left: 24px;
    }

.card-container {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    margin-left: 14px;
    color: black;
}

.card-hebergement {
    width: 30%;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
}

.card-populaire {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 98%;
    border-radius: 15px 15px 15px 15px;
    /*margin: 2%;*/
    margin: 15px 5px 15px 5px;
    background-color: white;
}

.Img-hebergement {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 96%;
    height: 111px;
    border: solid 5px white;
}

.Img-populaire {
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    width: 127px;
    height: 131px;
    margin-top: 3px;
    margin-left: 2px;
    border: solid 2px white;
}

.populaires {
    width: 420px;
    height: 625px;
}

.card-activite {
    width: 20%;
}

.activite {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.images-activite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

    .images-activite .card-activite img {
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 388px;
    }




/*partie footer*/

footer {
    display: flex;
    flex-direction: row;
    width: 95%;
    padding-bottom: 10px;
    background-color: #E6E6E6;
    justify-content: space-around;
    margin-top: 40px;
    text-decoration: none;
}

    footer a {
        color: black;
    }


.propos {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20%;
}

    .propos a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
    }


.hebergement {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20%;
}

    .hebergement a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
    }



.assistance {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20%;
}

    .assistance a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
    }

/*partie icones*/

.fa-solid,
.fas {
    font-weight: 900;
    width: 1px;
    margin-right: 15px;
}


.fa-star {
    color: blue;
}

.fa-grey {
    color: #F2F2F2;
}

.fa-blue {
    color: #0065FC;
}

.fa-white {
    color: white;
}

i.fa-solid.fa-info.fa-blue {
    width: 28px;
    height: 15px;
    border: solid 1px #D9D9D9;
    text-align: center;
    padding-top: 13px;
    border-radius: 15px 17px 15px 14px;
    margin-right: 12px;
}

#loca-icone {
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

.fa-info {
    margin-top: 3px;
}


/* sur les ecrans de 991px ou moins (tablette)*/

@media screen and (max-width: 991px) {

    body {
        margin: 5px;
        width: 100%;
    }

    nav {
        justify-content: start;
        margin: 0 0 0 0;
        gap: 30%;
    }

    footer {
        width: 96%;
        margin-left: 14px;
    }

    .filtre {
        margin-bottom: 0px;
        width: 100%;
    }

    .populaire-jaune .card-populaire .card-container .nom {
        margin: 13px 14px 11px -6px;
    }

    .populaire-jaune .card-populaire .card-container .prix {
        margin: 0px 13px 37px 2px;
    }

    .lien1 {
       /* display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px 20px 20px 20px;
        color: blue;
        height: 48px;
        border: 1px solid #D9D9D9;
        padding-left: 21px;
        padding-right: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        margin-right: 10px;*/
       
    }

   /* .lien2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px 20px 20px 20px;
        color: blue;
        height: 48px;
        border: 1px solid #D9D9D9;
        padding-left: 21px;
        padding-right: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        margin-right: 10px;
    }*/

   /* .lien3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px 20px 20px 20px;
        color: blue;
        height: 48px;
        border: 1px solid #D9D9D9;
        padding-left: 21px;
        padding-right: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        margin-right: 10px;
    }*/

    .lien4 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px 20px 20px 20px;
        color: blue;
        height: 48px;
        border: 1px solid #D9D9D9;
        padding-left: 21px;
        padding-right: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        width: 184px;
    }

    .liens-container {
        margin-left: 20px;
        width: 40%;
    }

    .groupe-lien {
        width: 55%;
    }


    #lien-filtre {
        justify-content: start;
        width: 8%;
    }

    #info {
        margin-bottom: 50px;
    }

    .activite .titre-activites {
        margin-bottom: 40px;
    }

    .groupe-lien {
        margin-bottom: 10px;
    }

    .hebergement-rouge {
        gap: 2px;
    }

    .hebergement-vert {
        flex-direction: column;
        width: 100%;
    }

    .hebergement-bleu {
        width: 97%;
        height: 625px;
        padding-bottom: 50px;
    }

    .hebergement-jaune {
        margin-bottom: 10px;
    }

    .main a {
        margin-top: 10px;
        width: 35%;
    }

    .populaire-rouge {
        width: 97%;
        margin-top: 25px;
        height: 300px;
    }

    .populaire-jaune {
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;
        width: 97%;
        margin-right: 14px;
    }

    .Img-populaire {
        width: 92px;
    }

    .card-container {
        margin-bottom: 32px;
    }

    .card-populaire {
        margin-right: 35px;
        width: 93%;
        height: 144px;
    }

    .card-populaire-eau {
        width: 93%;
    }

    .populaire-jaune .card-populaire .card-container .star-populaire-blanc {
        display: flex;
        flex-direction: row;
        margin-top: 4px;
    }

    .populaire-jaune .card-populaire .card-container .star-populaire {
        display: flex;
        flex-direction: row;
        margin-top: 1px;
    }

    .populaire-jaune .card-populaire .card-container .star-populaire-eau {
        display: flex;
        flex-direction: row;
        margin-top: 4px;
    }

    .images-activite .card-activite img {
        height: 227px;
    }

    .images-activite {
        margin-left: 20px;
    }

    #next a {
        margin-left: 20px;
    }
}


/* sur les ecrans de 767px ou moins (mobile)*/

@media screen and (max-width: 767px) {
    html {
        margin-right: 8%;
        margin-top: 8%;
        padding-left: 15px;
    }

    body {
        width: 93%;
    }

    h5 {
        margin-top: 3px;
        margin-bottom: 36px;
        width: 100%;
        text-align: start;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 60px;
    }

    h1 {
        margin-top: 22px;
        text-align: center;
    }

    .fa-circle-info {
        margin-top: 5px;
    }

    .lien1,.lien2,.lien3,.lien4 {
        width: 30%;
    }

    #next {
        display: none;
    }

    .activite .titre-activites {
        padding-right: 160px;
        margin-left: 15px;
        margin-top: 28px;
        width: 210px;
        margin-bottom: 1px;
    }

    .card-container {
        padding-left: 10px;
        margin-left: 0px;
    }

    .main a {
        width: 100%;
    }

    .liens-container {
        justify-content: center;
        gap: 20px;
        margin-left: 10px;
        width: 100%;
    }

    .lien4 {
        gap: 15px;
    }

    nav {
        flex-direction: column;
    }

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .menu {
        gap: 60px;
    }

        .menu a {
            text-decoration: none;
            color: black;
            padding-bottom: 20px;
            width: 120px;
        }

            .menu a:hover {
                border-top: none;
                border-bottom: 2px solid #0065FC;
                padding-bottom: 18px;
            }

    .rechercher {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #recherche {
        display: none;
    }

    #recherche-loupe {
        background-color: #0065FC;
        color: white;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 49px;
    }

    .filtre {
        flex-direction: column;
        margin-bottom: 15px;
        width: 100%;
        gap: 20px;
    }

    #lien-filtre {
        justify-content: start;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 10px;
        margin-right: 0px;
    }

    #info {
        margin-bottom: 20px;
    }

    .hebergement-vert {
        flex-direction: column-reverse;
        width: 100%;
    }

    .hebergement-jaune {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .hebergement-bleu {
        width: 100%;
        margin-top: 25px;
        height: auto;
        padding-bottom: 0px;
    }

    .hebergement-rouge {
        gap: 0px;
    }

    .card-hebergement {
        width: 100%;
    }

    .populaire-jaune {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-left: 0px;
    }

    .populaire-rouge {
        justify-content: center;
        width: 100%;
        height: auto;
        margin-left: 8px;
    }

    .Img-populaire {
        height: 125px;
        width: 110px;
    }

    .card-populaire, card-populaire-eau, card-populaire-bleu {
        width: 95%;
        margin-left: 15px;
    }

    .images-activite {
        flex-direction: column;
        width: 100%;
    }

    .card-activite {
        width: 100%;
        height: 194px;
    }

    .activite .images-activite .card-activite .nom {
        margin: 10px 0px 5px 12px;
    }

    .images-activite .card-activite img {
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        height: 136px;
        width: 95%;
    }

    footer {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .propos,
    .assistance,
    .hebergement {
        margin-left: 20px;
        width: 100%;
    }
}
