html {
    /* background: blue; */
}

body {
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 0px;
    background-color: white;
}

#header {
    /*margin: auto;*/
    width: 95%;
}

#fname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    width: 55%;
}

.rechercher {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 15px;
    width: 100%
    /*border:solid green;*/
}

#recherche {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

#recherche-loupe {
    display: none;
}


/*partie filtre*/

.filtre {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    width: 100%;
    /*border: solid green;*/
}

#info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 400;
    width: 100%;
}

.fa-info {
    height: 27px;
    margin-top: 0px;
}

.main {
    width: 100%;
    /*background-color:aqua;*/
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


/*partie navigation*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0 2% 0;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0065FC;
}

    .menu a {
        text-decoration: none;
        color: black;
    }

        .menu a:hover {
            border-top: 2px solid #0065FC;
            font-weight: 500;
            color: #0065FC;
            padding-top: 20px;
        }

.liens-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border:solid red;*/
}

    .liens-container a {
        text-decoration: none;
        color: black;
    }

#lien-filtre {
    display: flex;
    justify-content: center;
    margin-right: 2px;
    width: 200px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #000000;
    margin-right: 40px;
    width: 5%;
    /*border:solid yellow;*/
}

.groupe-lien {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 30px;
    /*border:solid orange;*/
}

.lien {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #E6E6E6;
    border-radius: 20px 20px 20px 20px;
    color: blue;
    width: 150px;
    height: 48px;
    border: 1px solid #D9D9D9;
    padding-left: 4px;
    padding-right: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.lien-dog {
    width: 226px;
}

    .lien:hover,
    .lien-dog:hover {
        background-color: #DEEBFF;
    }


/*partie formulaire*/

.form {
    display: flex;
    flex-direction: row;
}

input {
    border: none;
    outline: none;
}

.titre,
.titre-activites {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 5px;
}

.star-populaire {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-bottom: 10px;
}

.star-logement {
    display: flex;
    flex-direction: row;
}

.fa-chart-line {
    padding-right: 20px;
}

.nom {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 5px 4px 2px 4px;
}

.nom-footer {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}


/*partie cards*/

.hebergement-vert {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /*border: solid green;*/
}

.hebergement-bleu {
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 626px;
    border-radius: 15px;
    /*border: solid blue;*/
    background: #F2F2F2;
}

.hebergement-rouge {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    width: 95%;
    /*border: solid red;*/
}

.hebergement-jaune {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /*border: solid yellow;*/
}

.icone-populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*border:solid black 1px;*/
}

.populaire-rouge {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    border-radius: 15px;
    width: 32%;
    gap: 20px;
    overflow: hidden;
    height: 626px;
    background: #F2F2F2;
    /*border: solid red;*/
}

.populaire-jaune {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*margin: 2.5%;*/
    gap: 18px;
    /*border: solid yellow;*/
}

#next a {
    text-decoration: none;
    /*font-family: 'Raleway';*/
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-left: 23px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: normal;
    margin-left: 10px;
}

.card-hebergement {
    box-shadow: 20px 20px 50px 15px grey;
    transition: 0.2s;
    width: 30%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;
}

.card-populaire {
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-shadow: 20px 20px 50px 15px grey;
    transition: 0.2s;
    width: 90%;
    border-radius: 15px 15px 15px 15px;
    margin: 2%
    /*border:solid blue;*/
}

.card-hebergement:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.card-populaire:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.Img-hebergement {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 111px;
}

.Img-populaire {
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    width: 127px;
    height: 131px;
    margin-top: 3px;
    /*border:solid red;*/
}

.populaires {
    width: 420px;
    height: 625px;
    /*border:solid black;*/
}

.activite {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    /*border:solid red;*/
}

.images-activite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*gap:20px;*/
    /*border:solid yellow;*/
    width: 100%;
}

    .images-activite .card-activite img {
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 444px;
    }

.card-activite {
    width: 20%;
    /*border:solid red; */
}


/*partie footer*/

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 10px;
    background-color: #E6E6E6;
    justify-content: space-around;
    margin-top: 40px;
    text-decoration: none;
    /*border:solid blue;*/
}



.propos {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20%;
    /*border: solid red;*/
}

    .propos a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
        /*border:solid red;*/
    }

.main a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
}

.hebergement {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20%;
    /*border: solid green;*/
}

    .hebergement a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
        /*border: solid green;*/
    }



.assistance {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20%;
    /*border: solid orange;*/
}

    .assistance a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
        /*border:solid yellow;*/
    }


/*declaration de variables personnalisées dans la pseudo classe root

:root{
    --variable:blue;
}
*/

.fa-solid,
.fas {
    font-weight: 900;
    width: 1px;
    margin-right: 25px;
}

.fa-info {
    /*margin-top: 25px;*/
}

.fa-star {
    color: blue;
}

.fa-grey {
    color: lightgray;
}

.fa-blue {
    color: #0065FC;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: start;
    margin-top: 0px;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 50px;
}

#loca-icone {
    border: none;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

.fa-info {
    margin-top: 3px;
}


/* sur les ecrans de 992px ou moins (tablette)*/

@media screen and (max-width: 991px) {


    nav {
        justify-content: start;
        margin: 0 0 0 0;
        gap: 30%;
    }

    #lien-filtre {
        justify-content: start;
        width: 8%;
        /*border:solid yellow;*/
    }

    #info {
        margin-bottom: 50px;
    }

    .titre {
        padding-left: 20px;
    }

    .activite .titre-activites {
        padding-left: 20px;
        margin-bottom: 40px;
    }

    .groupe-lien {
        margin-bottom: 10px;
        /*border:solid orange;*/
    }

    .hebergement-vert {
        flex-direction: column;
    }

    .hebergement-bleu {
        width: 100%;
        /*background-color: beige;*/
    }

    .hebergement-jaune {
        margin-bottom: 10px;
        /*background-color:blueviolet;*/
    }

    .populaire-rouge {
        width: 100%;
        margin-top: 25px;
        height: auto;
        justify-content: space-around;
        /*background-color:gold;*/
    }

    .populaire-jaune {
        flex-direction: row;
        margin-top: 0px;
        justify-content: space-around;
        gap: 30px;
        /*background-color:brown;*/
    }

    .card-container #bleu {
        margin-bottom: 32px;
    }

    .card-populaire {
        margin: 0px;
        width: 270px;
    }

    .images-activite .card-activite img {
        height: 270px;
    }

    .images-activite {
        justify-content: space-around;
    }

    #next a {
        margin-left: 20px;
    }
}


/* sur les ecrans de 768px ou moins (tablette)*/

@media screen and (max-width: 767px) {

    body {
        margin: 10px;
    }

    h5 {
        margin-top: 3px;
        margin-bottom: 36px;
        padding-right: 5px;
        width: 100%;
        text-align: start;
    }

    .fa-circle-info {
        margin-top: 5px;
    }

    #next {
        display: none;
    }

    .titre-activites {
        padding-right: 160px;
        margin-left: 0px;
        margin-top: 60px;
    }

    .card-container {
        padding-left: 10px;
    }

    .groupe-lien {
        width: 100%;
        margin-bottom: 10px;
        gap: 14px;
        /*border:solid orange;*/
    }

    .lien {
        width: 100%;
        font-size: 11px;
        line-height: 13px;
        width: 43%;
        justify-content: start;
    }

    nav {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        gap: 28px;
    }

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .menu {
        gap: 91px;
    }

        .menu a:hover {
            border-top: none;
            border-bottom: 2px solid #0065FC;
            padding-bottom: 20px;
            padding-top: 0px;
        }

    .form {
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
    }

    .rechercher {
        align-items: center;
        justify-content: center;
        width: 100%;
        /*border: solid green;*/
    }

    #recherche {
        display: none;
    }

    #recherche-loupe {
        background-color: #0065FC;
        color: white;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filtre {
        flex-direction: column;
        margin-bottom: 50px;
    }

    #lien-filtre {
        justify-content: start;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        /*border:solid yellow;*/
    }

    .hebergement-vert {
        flex-direction: column-reverse;
        /*border:solid brown;*/
    }

    .hebergement-jaune {
        flex-direction: column;
        height: auto;
        /*border: solid yellow;*/
    }

    .hebergement-bleu {
        width: 100%;
        margin-top: 25px;
        height: auto;
        /*border: solid blue;*/
    }

    .card-hebergement {
        width: 100%;
    }

    .populaire-jaune {
        flex-direction:column;
        align-items: center;
        gap: 30px;
        margin: 2.5%;
        /*border: solid yellow;*/
    }

    .populaire-rouge {
        justify-content: center;
        width: 100%;
        height: auto;
        /*border: solid red;*/
    }


    .activite {
        justify-content: center;
        align-items: center;
        /*border: solid green;*/
    }

    .images-activite {
        flex-direction: column;
        /*border: solid purple;*/
    }

    .card-activite {
        width: 100%;
        /*border: solid red;*/
    }

    .images-activite .card-activite img {
        /*object-fit: cover;*/
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        height: 136px;
        /*border:solid orange;*/
    }

    footer {
        flex-direction: column;
        align-items: start;
        gap: 30px;
        /*border: solid blue;*/
    }

    .propos,
    .assistance,
    .hebergement {
        margin-left: 20px;
        width: 100%;
        /*border: solid red;*/
    }
}
