


body {
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 3px;
    background-color: white;
}

#header {
    width: 95%;
}

#fname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    width: 55%;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

.rechercher {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 15px;
    width: 100%
}

#recherche {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    width: 132px;
}

#recherche-loupe {
    display: none;
}


/*partie filtre*/

.filtre {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    width: 70%;
    gap: 25px;
}

#info {
    display: flex;
    flex-direction: row;
    /*gap: 25px;*/
    font-weight: 400;
    width: 100%;
}

.fa-info {
    height: 27px;
    margin-top: 0px;
}

.main {
    width: 100%;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
    margin-top: 5px;
}


/*partie navigation*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0 2% 0;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0065FC;
}

    .menu a {
        text-decoration: none;
        color: black;
    }

        .menu a:hover {
            border-top: 2px solid #0065FC;
            font-weight: 500;
            color: #0065FC;
            padding-bottom: 2px;
            body

{
    padding-bottom: 2px;
}

}

.liens-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .liens-container a {
        text-decoration: none;
        color: black;
    }

#lien-filtre {
    display: flex;
    justify-content: center;
    margin-right: 2px;
    width: 200px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #000000;
    margin-right: 40px;
    width: 5%;
    margin-left: 10px;
}

.groupe-lien {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 30px;
}

.lien {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #E6E6E6;
    border-radius: 20px 20px 20px 20px;
    color: blue;
    width: auto;
    height: 48px;
    border: 1px solid #D9D9D9;
    padding-left: 21px;
    padding-right: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.lien-dog {
    width: 242px;
}

    .lien:hover,
    .lien-dog:hover {
        background-color: #DEEBFF;
    }


/*partie formulaire*/

.form {
    display: flex;
    flex-direction: row;
    width: 440px;
    height: 50px;
}

i.fa-solid.fa-location-dot.fa-lg {
    font-weight: 900;
    width: 50px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    border: solid 1px #f2f2f2;
    padding-top: 22px;
}

input {
    border: none;
    outline: none;
}

.titre,
.titre-activites {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 18px;
}

.star-populaire {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    padding-bottom: 10px;
}

.star-populaire-eau {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding-bottom: 10px;
}

.star-logement {
    display: flex;
    flex-direction: row;
}

.fa-chart-line {
    padding-right: 20px;
}

.nom {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 5px 18px 2px 4px;
}

.nom-footer {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}


/*partie cards*/

.hebergement-vert {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    gap: 35px;
    justify-content: space-between;
}

.hebergement-bleu {
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 590px;
    border-radius: 15px;
    background: #F2F2F2;
}

.hebergement-rouge {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    width: 95%;
    gap: 20px;
}

.hebergement-jaune {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.icone-populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.populaire-rouge {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 32%;
    /*gap: 20px;*/
    height: 590px;
    background: #F2F2F2;
}

.populaire-jaune {
    display: flex;
    flex-direction: column;
    width: 94%;
    /*gap: 18px;*/
}

#next a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-left: 23px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: normal;
    margin-left: 10px;
    color: black;
}

.card-hebergement {
    box-shadow: 20px 20px 50px 15px grey;
    transition: 0.2s;
    width: 30%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px;
}

.card-populaire {
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-shadow: 20px 20px 50px 15px grey;
    transition: 0.2s;
    width: 98%;
    border-radius: 15px 15px 15px 15px;
    margin: 2%
}

.card-hebergement:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.card-populaire:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.Img-hebergement {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 97%;
    height: 111px;
    border: solid 5px white;
}

.Img-populaire {
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    width: 127px;
    height: 131px;
    margin-top: 3px;
    border: solid 5px white;
}

.populaires {
    width: 420px;
    height: 625px;
}

.activite {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.images-activite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

    .images-activite .card-activite img {
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 388px;
    }

.card-activite {
    width: 20%;
}


/*partie footer*/

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 10px;
    background-color: #E6E6E6;
    justify-content: space-around;
    margin-top: 40px;
    text-decoration: none;
}

    footer a {
        color: black;
    }


.propos {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20%;
}

    .propos a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
    }

.main a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
}

.hebergement {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20%;
}

    .hebergement a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
    }



.assistance {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20%;
}

    .assistance a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
    }

.fa-solid,
.fas {
    font-weight: 900;
    width: 1px;
    margin-right: 25px;
}

.fa-info {
    /*margin-top: 25px;*/
}

.fa-star {
    color: blue;
}

.fa-grey {
    color: lightgray;
}

.fa-blue {
    color: #0065FC;
}

.fa-white {
    color: white;
}

i.fa-solid.fa-info.fa-blue {
    width: 29px;
    height: 15px;
    border: solid 1px #D9D9D9;
    text-align: center;
    padding-top: 12px;
    border-radius: 15px 15px 15px 15px;
    margin-right: 10px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: start;
    margin-top: 10px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 50px;
}

#loca-icone {
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

.fa-info {
    margin-top: 3px;
}


/* sur les ecrans de 991px ou moins (tablette)*/

@media screen and (max-width: 991px) {

    body {
        padding-top: 20px;
    }

    nav {
        justify-content: start;
        margin: 0 0 0 0;
        gap: 30%;
    }

    .lien {
        width: 60%;
    }

    .liens-container {
        width: 60%;
    }

    .groupe-lien {
        width: 55%;
    }

    #lien-filtre {
        justify-content: start;
        width: 8%;
    }

    #info {
        margin-bottom: 50px;
    }

    .activite .titre-activites {
        margin-bottom: 40px;
    }

    .groupe-lien {
        margin-bottom: 10px;
    }

    .hebergement-vert {
        flex-direction: column;
        width: 100%;
    }

    .hebergement-bleu {
        width: 100%;
        height: 625px;
    }

    .hebergement-jaune {
        margin-bottom: 10px;
    }

    .populaire-rouge {
        width: 100%;
        margin-top: 25px;
        height: auto;
        justify-content: space-around;
    }

    .populaire-jaune {
        flex-direction: row;
        margin-top: 0px;
        justify-content: space-around;
        gap: 12px;
        width: 100%;
        margin-right: 13px;
    }

    .Img-populaire {
        width: 65px;
    }

    .card-container {
        margin-bottom: 32px;
    }

    .card-populaire {
        margin-right: 35px;
        width: 93%;
        height: 144px;
    }

    .card-populaire-eau {
        width: 93%;
    }

    .star-populaire {
        margin-top: 35px;
    }

    .star-populaire-eau {
        margin-top: 30px;
    }

    .star-populaire-blanc {
        margin-top: 52px;
    }

    .images-activite .card-activite img {
        height: 227px;
    }

    .images-activite {
        margin-left: 20px;
    }

    #next a {
        margin-left: 20px;
    }
}


/* sur les ecrans de 767px ou moins (mobile)*/

@media screen and (max-width: 767px) {
    html {
        margin-right: 8%;
        margin-top: 8%;
        padding-left: 15px;
    }

    body {
        width: 93%;
    }

    h5 {
        margin-top: 3px;
        margin-bottom: 36px;
        width: 100%;
        text-align: start;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .fa-circle-info {
        margin-top: 5px;
    }

    #next {
        display: none;
    }

    .titre-activites {
        padding-right: 160px;
        margin-left: 34px;
        margin-top: 28px;
        width: 210px;
    }

    .card-container {
        padding-left: 10px;
        margin-left: 0px;
    }

    .groupe-lien {
        width: 100%;
        margin-bottom: 10px;
        gap: 14px;
    }

    .lien {
        width: 100%;
        font-size: 11px;
        line-height: 13px;
        width: 43%;
        justify-content: start;
        padding-left: 10px;
    }

    .liens-container {
        width: auto;
    }

    nav {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        gap: 28px;
    }

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .menu {
        gap: 91px;
    }

        .menu a:hover {
            border-top: none;
            border-bottom: 2px solid #0065FC;
        }

    .form {
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
    }

    .rechercher {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #recherche {
        display: none;
    }

    #recherche-loupe {
        background-color: #0065FC;
        color: white;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 49px;
    }

    .filtre {
        flex-direction: column;
        margin-bottom: 15px;
        width: 100%;
        gap: 20px;
    }

    .fa-sharp.fa-solid.fa-dog.fa-lg {
        margin-right: 8px;
    }

    .fa-solid.fa-person.fa-lg {
        margin-right: 8px;
    }

    .fa-solid.fa-heart.fa-lg {
        margin-right: 8px;
    }

    .fa-solid.fa-sack-dollar.fa-lg {
        margin-right: 8px;
    }

    .lien-dog {
        padding-left: 10px;
    }

    #lien-filtre {
        justify-content: start;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 10px;
        margin-right: 0px;
    }

    #info {
        margin-bottom: 20px;
    }

    .titre {
        margin-left: 2px;
    }

    .hebergement-vert {
        flex-direction: column-reverse;
        width: 100%;
    }

    .hebergement-jaune {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .hebergement-bleu {
        width: 100%;
        margin-top: 25px;
        height: auto;
    }

    .hebergement-rouge {
        gap: 0px;
    }

    .card-hebergement {
        width: 100%;
    }

    .populaire-jaune {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-left: 0px;
    }

    .populaire-rouge {
        justify-content: center;
        width: 100%;
        height: auto;
        margin-left: 8px;
    }

    .Img-populaire {
        height: 125px;
        width: 110px;
    }

    .card-populaire {
        width: 100%;
    }

    .card-populaire-eau {
        width: 100%;
    }

    .card-populaire-bleu {
        width: 100%;
    }

    .activite {
        justify-content: center;
        align-items: center;
    }

    .images-activite {
        flex-direction: column;
        width: 100%;
    }

    .card-activite {
        width: 100%;
    }


    .images-activite .card-activite img {
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        height: 136px;
        width: 95%;
    }

    .star-populaire-blanc {
        margin-top: 52px;
    }

    footer {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .propos,
    .assistance,
    .hebergement {
        margin-left: 20px;
        width: 100%;
    }
}
